<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gob-sample</title>
    <script src="../bin/Gob.webpack.js"></script>
    <script src="./vue.js"></script>


    <style>
        code {
            font-family: "Adobe Clean";
        }
    </style>
</head>
<body>

<pre><code>{{vGob |json 4}}</code></pre>
<input type="text" v-model="   vGob.text.color.r">
<div>----</div>


<pre><code>{{gg|json 4}}</code></pre>
<input type="text" v-model="   gg.int">
<div>----</div>

<script>

    var GOB = GobLib.Gob
    var Gob = new GOB()
    var data = {
        text: {
            fontFamily: {type: "string", default: "微软雅黑"},
            colorHex: {type: "string", default: "#ffe"},
            color: {
                r: {type: "number", default: 222, range: [0, 255]},
                g: {type: "number", default: 222, range: [0, 255]},
                b: {type: "number", default: 222, range: [0, 255]},
            },
            fontSize: {type: "number", default: 32, range: [12, 72]},
            int: 11
        }

//        text: {color: {
//            r: {default: 222, range: [0, 255]}
//        }}

    }

    console.log("----")

    Gob.$use(Gob.$MODES.BASE)
    Gob.$use(Gob.$MODES.VUE_SUPPORT(Vue))


    var gg = {}

    Object.defineProperty(gg, "int", {
        set: function (value)
        {
            this._int = value
            console.log("gg:", value)
        },
        get: function ()
        {
            return this._int

        },
        enumerable: true,
        configurable: true
    });


    gg.int = 11

    var vue = new Vue({

        el: "body",
        data: {
            vGob: Gob,
            gg: gg
        }
    })

    Gob.$new(data)


    //
    //    console.log(Gob.$_states)

    Vue.nextTick(
        function ()
        {
            Gob.text.color.r = 333
            console.log(" Gob.text.color.r", Gob.text.color.r)
            Gob.text.color.r = {a: 123}
            Gob.text.color.r.a = 777
        }
    )


    //    Gob.$newStates(states)


</script>


</body>
</html>
